
<div class="flex box mb-3">Flex Container</div>

<p-card header="Advanced Card" subheader="Card Subheader" [style]="{width: '360px'}" styleClass="p-card-shadow">
  <ng-template pTemplate="header">
  </ng-template>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt
    quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque quas!</p>
  <ng-template pTemplate="footer">
    <div class="flex">
      <button pButton pRipple type="button" icon="pi pi-check" class="ml-auto p-button"></button>
      <button pButton pRipple type="button" icon="pi pi-times" class="ml-2 p-button-danger"></button>
    </div>
  </ng-template>
</p-card>
