<div class="flex flex-column p-3 h-full">

  <div class="flex align-items-center mb-2 mb-md-0 logo" (click)="colapsarMenu()">
    <p-avatar image="/assets/img/duck.png" size="xlarge"></p-avatar>
    <span class="duck-hide-closed ml-2" [translate]="'system.name'"></span>
  </div>

  <hr>
  <duck-list [model]="menuList" [logged]="logged"></duck-list>
  <hr>

  <div class="flex align-items-center mt-3 duck-border p-2" ngbDropdown (click)="mnmenu.toggle($event)">
    <div class="col p-0 text-right duck-user-picture">
      <p-avatar [image]="picture" shape="circle"></p-avatar>
    </div>
    <div class="col-10 ml-3 p-0 text-left duck-hide-closed">
      <strong>{{username | translate}}</strong>
    </div>
    <p-menu #mnmenu [popup]="true" [model]="minimenu"></p-menu>
  </div>

</div>
