<p-confirmDialog position="top" rejectButtonStyleClass="p-button-outlined" [style]="{width: '50vw'}"></p-confirmDialog>
<p-card styleClass="duck">
  <p-table #dt class="duck-table w-full" [columns]="cols" [value]="users" breakpoint="1270px" responsiveLayout="stack">
    <ng-template pTemplate="caption">
      <div class="flex align-items-center justify-content-between">
        <h5 class="m-0">Gerenciar Usuarios</h5>
        <span class="p-input-icon-left">
            <i class="pi pi-search"></i>
            <input pInputText type="text" (input)="$event.target ? dt.filterGlobal($event.target['value'], 'contains') : ''" placeholder="Pesquisa..." />
        </span>
      </div>
    </ng-template>
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th *ngFor="let col of columns" [pSortableColumn]="col.field">
          <p-tableHeaderCheckbox *ngIf="col.field === 'check'"></p-tableHeaderCheckbox>
          {{col.header}}
          <p-sortIcon [field]="col.field"></p-sortIcon>
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-usuario let-columns="columns">
      <tr>
        <td *ngFor="let col of columns">
          <span class="p-column-title">{{col.header}}</span>
          <ng-container [ngSwitch]="col.pipe">

            <span *ngSwitchCase="'object'">
              {{ usuario[col.field] ? usuario[col.field].name : 'Nenhum' }}
            </span>

            <span *ngSwitchCase="'data'">{{usuario[col.field] | date:'dd/MM/yyyy'}}</span>

            <ng-container *ngSwitchDefault>
              <ng-container [ngSwitch]="col.field">
                <p-tableCheckbox *ngSwitchCase="'check'" [value]="usuario"></p-tableCheckbox>

                <div *ngSwitchCase="'actions'" class="p-buttonset">
                  <a class="duck-action" [routerLink]="['/users', 'edit', usuario.id]">
                    <button pButton
                            pRipple
                            icon="fas fa-user-edit"
                    ></button>
                  </a>
                  <a *ngIf="usuario.id != idUsuarioLogado" class="duck-action" (click)="deleteUser(usuario.id)">
                    <button pButton
                            pRipple
                            icon="fas fa-trash"
                            class="p-button-danger"
                    ></button>
                  </a>
                </div>

                <span *ngSwitchDefault>
                  {{ usuario[col.field] }}
                </span>
              </ng-container>
            </ng-container>
          </ng-container>
        </td>
      </tr>
    </ng-template>
  </p-table>
</p-card>

<div class="duck-floating">
  <duck-float-button *ngIf="usuarioPodeCriarNovo" pTooltip="Novo Usuário" tooltipPosition="top" [routerLink]="['/users/create']">
    <i class="fas fa-user-plus"></i>
  </duck-float-button>
  <duck-float-button *ngIf="usuarioPodeCriarNovo" pTooltip="Perfis" tooltipPosition="top" [routerLink]="['/users/profiles/list']">
    <i class="fas fa-user-tag"></i>
  </duck-float-button>
</div>
