<div>
  <div class="grid">
    <div class="col-3">
      <p-button label="Criar" styleClass="duck-button" [routerLink]="['/users/create']"></p-button>
    </div>
    <div class="col-12">
      <p-card styleClass="duck">
        <div class="pb-3">
          <h1>Lista de Usuarios</h1>
        </div>
        <p-table class="w-full" [columns]="cols" [value]="users" responsiveLayout="scroll">
          <ng-template pTemplate="header" let-columns>
            <tr>
              <th *ngFor="let col of columns">
                <p-tableHeaderCheckbox *ngIf="col.field === 'check'"></p-tableHeaderCheckbox>
                {{col.header}}
              </th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-usuario let-columns="columns">
            <tr>
              <td *ngFor="let col of columns">
                <ng-container [ngSwitch]="col.pipe">
                  <span *ngSwitchCase="'object'">
                    <b>Perfil:</b> {{ usuario[col.field].name }}
                  </span>
                  <span *ngSwitchCase="'data'">{{usuario[col.field] | date:'dd/MM/yyyy'}}</span>
                  <ng-container *ngSwitchDefault>
                    <p-tableCheckbox *ngIf="col.field === 'check'" [value]="usuario"></p-tableCheckbox>
                    <div *ngIf="col.field === 'actions'">
                      <button pButton
                              pRipple
                              icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2"
                              (click)="editUser(usuario)"></button>
                      <button pButton
                              pRipple
                              icon="pi pi-trash"
                              class="p-button-rounded p-button-warning"
                              *ngIf="usuario.id != idUsuarioLogado"
                              (click)="deleteUser(usuario.id)"></button>
                    </div>
                    {{ usuario[col.field] }}
                    <!--<ngb-highlight [result]="usuario[col.field]" [term]="''"></ngb-highlight>-->
                  </ng-container>
                </ng-container>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </p-card>
    </div>
  </div>
</div>
