<div class="grid">
  <div class="col-12 lg:col-6 xl:col-3">
    <p-card>
      <div class="flex w-full">
        <div class="col-8 p-0">
          <span class="block">Saldo Atual:</span>
          <span class="block">{{ saldoTotal | currency:'BRL' }}</span>
        </div>
        <div class="col-4 p-0">
          <em class="fas fa-university"></em>
        </div>
      </div>
    </p-card>
  </div>
  <div class="col-12 lg:col-6 xl:col-3 caixa">
    <p-card>
      OKOK
    </p-card>
  </div>
  <div class="col-12 lg:col-6 xl:col-3 caixa">
    <p-card>
      OKOK
    </p-card>
  </div>
  <div class="col-12 lg:col-6 xl:col-3 caixa">
    <p-card>
      OKOK
    </p-card>
  </div>
</div>
