<div>

  <div class="grid">
    <div class="col-12 md:col-6 lg:col-4 xl:col-2 caixa" *ngFor="let sistema of sistemas">
      <a class="duck-link" [href]="sistema.link" target="_blank">
        <p-card>
          <div class="icone">
            <img [src]="sistema.icon != '' ? sistema.icon : host_url + '/assets/img/duck.png'" alt="Icone"/>
          </div>
          <span>{{ sistema.name }}</span>
        </p-card>
      </a>
    </div>
    <div class="col-12 md:col-6 lg:col-4 xl:col-2 caixa">
      {{largura}} x {{altura}}
    </div>
  </div>

</div>
