<p-toast key="principal"></p-toast>
<duck-loading></duck-loading>

<div class="h-full">
  <div *ngIf="isLoggedIn" class="flex flex-column p-3 side-menu">
    <a [routerLink]="['/']" class="flex align-items-center mb-3 mb-md-0">
      <p-avatar image="/assets/img/duck.png" styleClass="mr-2" size="xlarge"></p-avatar>
      <span [translate]="'system.name'"></span>
    </a>
    <hr>
    <duck-menu [model]="menu" [logged]="isLoggedIn"></duck-menu>
    <hr>
    <div class="flex align-items-center mt-3 duck-border" ngbDropdown (click)="mnmenu.toggle($event)">
      <div class="col p-0 text-right">
        <p-avatar [image]="this.picture" styleClass="mr-2" shape="circle"></p-avatar>
      </div>
      <div class="col p-0 text-left">
        <strong>{{profile.firstName | translate}}</strong>
      </div>
      <p-menu #mnmenu [popup]="true" [model]="minimenu"></p-menu>
    </div>
  </div>
  <main class="container-fluid p-4" [class.com-menu]="isLoggedIn" [class.sem-menu]="!isLoggedIn">
    <!--{{breadcrumb|json}}-->
    <p-breadcrumb [home]="home" [model]="breadcrumb" [hidden]="!isLoggedIn"></p-breadcrumb>
    <router-outlet></router-outlet>
  </main>
</div>
