main {
  gap: 1rem;
  height: 100%;
  display: flex;
  overflow-y: auto;
  transition: all 0.2s ease;
  flex-direction: column;
  background-color: var(--surface-b);
}

.side-menu {
  width: 24rem;
  height: 100%;
  position: fixed;
  border-right: 1px solid var(--surface-b);
  background-color: var(--surface-a);;
  transition: all 0.2s ease;

  z-index: 10;
}

.close .side-menu {
  width: 6.5rem;
  transition: all 0.2s ease;
}

.close div.logo {
  justify-content: center;
}

::ng-deep .close .side-menu .p-avatar.p-avatar-xl {
  width: 3rem;
  height: 3rem;
}

::ng-deep .close .side-menu .duck-hide-closed {
  display: none;
}

.close main {
  filter: none;
  transition: all 0.2s ease;
}

.com-menu {
  max-width: calc(100vw - 24rem) !important;
  margin-left: 24rem !important;
}

.close .com-menu {
  max-width: calc(100vw - 6.5rem) !important;
  margin-left: 6.5rem !important;
}

.sem-menu {
  max-width: 100vw !important;
  filter: none;
}
