::ng-deep .p-card-header {
  padding: 1.6rem;
}

::ng-deep .p-card-header img {
  width: 4rem !important;
  border-radius: 50%;
}

::ng-deep .p-card-header span {
  margin-left: 1.6rem;
  font-weight: 700;
  font-size: 2.4rem;
}

::ng-deep .p-card-footer span {
  font-weight: 700;
  font-size: 1.5rem;
}

::ng-deep .financas-contas .p-card {
  color: inherit;
  min-height: 18rem;
}

.saldo-positivo {
  color: #00ff00;
}
.saldo-negativo {
  color: #ff0000;
}
