:host {
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  margin: 1rem 0;
}

ol.duck-list,
ul.duck-list {
  position: relative;
  list-style: none;
}

ol.duck-list li,
ul.duck-list li {
  display: flex;
}

ol.duck-list li a,
ul.duck-list li a {
  width: 100%;
  display: flex;
  color: var(--text-color);
  padding: 0.8rem;
  border-radius: 0.8rem;
  margin-bottom: 0.8rem;
  text-decoration: none;
  align-items: center;
}

::ng-deep .close ol.duck-list li a,
::ng-deep .close ul.duck-list li a {
  justify-content: center;
}

ol.duck-list li:last-child a,
ul.duck-list li:last-child a {
  margin-bottom: 0;
}

ol.duck-list li a:hover,
ol.duck-list li a.active,
ul.duck-list li a:hover,
ul.duck-list li a.active {
  color: var(--text-color);
  background-color: var(--surface-c);
}

ol.duck-list li a span,
ul.duck-list li a span {
  margin-left: 1.2rem;
}
